extends layout

block content
    script(src='/javascripts/product.js')
    h1= title
    p Welcome to Free Door 

    // Wrapper
    #wrapper
        // Product LIST
        h2 Product List
        #ProductList
            table
                thead
                    th Product
                    th user
                    th 
                tbody
        // /Product LIST
    // /WRAPPER

