extends layout

block content
    script(src='/javascripts/offers.js')
    h1= title
    p Welcome to our test

    // Wrapper
    #wrapper
    
        // Category
        #CatogryInfo
            div#category
        // /Category

        // offer LIST
        h2 offer List
        #offerList
            table
                thead
                    th item
                    th 
                tbody
        // /offer LIST

    // /WRAPPER

